.loading {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation: fade-in 300ms ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}